:root {
  --body-bg: #123;
  --nav-bg: #234;
}

* {
  box-sizing: border-box;
}

html {
  font-family: system-ui;
}

.tabler--home-filled {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12.707 2.293l9 9c.63.63.184 1.707-.707 1.707h-1v6a3 3 0 0 1-3 3h-1v-7a3 3 0 0 0-2.824-2.995L13 12h-2a3 3 0 0 0-3 3v7H7a3 3 0 0 1-3-3v-6H3c-.89 0-1.337-1.077-.707-1.707l9-9a1 1 0 0 1 1.414 0M13 14a1 1 0 0 1 1 1v7h-4v-7a1 1 0 0 1 .883-.993L11 14z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

body {
  margin: 0;
  font-size: 1.25rem;
  background: var(--body-bg);
  padding: 3rem 5rem 0 20rem;
  color: white;

}

nav {
  background: var(--nav-bg);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding-block: 6rem;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 1rem;
}

.nav-list a {
  color: white;
  display: block;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-list li {
  padding-block: 1rem;
  padding-inline: 3rem;
  margin-inline: 2rem 0;
  /* prevent animation glitch on right side */
  box-shadow: 2px 0 0 var(--body-bg);
}

.nav-list li.active {
  /* view-transition-name: nav; */
  display: block;
  background: var(--body-bg);
  position: relative;
  z-index: ;
  border-radius: 100vw 0 0 100vw;
}

/*********/
::view-transition-group(nav) {
  animation-duration: 1s;
}

.nav-list li.active::before,
.nav-list li.active::after {
  --border-radius: 1rem;

  content: "";
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  right: 0rem;
  background: var(--nav-bg);
}

.nav-list li.active::before {
  border-radius: 0 0 var(--border-radius);
  top: calc(var(--border-radius) * -1);
  box-shadow: 5px 5px 0 5px var(--body-bg);
}

.nav-list li.active::after {
  border-radius: 0 var(--border-radius) 0 0;
  bottom: calc(var(--border-radius) * -1);
  box-shadow: 5px -5px 0 5px var(--body-bg);
}

/*********/


@media only screen and (max-width: 600px) {

  body {
    /* background-color: red; */
    padding: 5rem 2rem 0rem 2rem;

  }
  .tabler--home-filled {
    width: 16px;
    height: 16px;
  }
  nav {
    top: 36.4px;
    left: 0;
    right: 0;
    bottom: auto;
    padding-block: 0;
  }

  .nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: ;
    gap: 0;
  }

  .nav-list li.active {
    /* view-transition-name: nav; */
    display: block;
    background: var(--body-bg);
    position: relative;
    z-index: ;
    border-radius: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  .nav-list li {
    padding-block: 5px;
    padding-inline: 10px;
    margin-inline: 0;
    /* prevent animation glitch on right side */
    box-shadow: 0 0 0 0;
    
  }

  .nav-list li a {
    font-size: 14px;
    /* display: block; */
    /* height: 100%; */
    text-align: center;
  }

  /**hide pseudo element */
  .nav-list li.active::before,
  .nav-list li.active::after {
    display: none;
    /* Hide the pseudo-elements */
  }
}